@import "../../css/units.css";
@import "../../css/colors.css";

.chat-panel {
    background-clip: padding-box;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex-grow: 1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $ui-white;
    color: $text-primary;
    border-color: $ui-black-transparent;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    transition: all 0.25s ease;
}

.chat-header {
    width: 100%;
    height: 52px;
    border-color: $ui-black-transparent;
    border-width: 1px;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.chat-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.list-welcome {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    padding: 8px;
    border-color: $ui-black-transparent;
    border-width: 1px;
    border-style: solid;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.chat-sender {
    width: 100%;
    padding: 8px;
}